{% extends "Base_Director.html" %}

{% block title %}Módulo Director | Eliminar Matrícula{% endblock %}

{% block content %}
  <h1>Eliminar Matrículas de Estudiante</h1>
  <br>
  <!-- Mensajes de éxito y error -->
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li class="alert alert-{{ message.tags }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <br><br>
  <!-- Formulario para ingresar el código del estudiante -->
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="codigo_estudiante">Código del Estudiante:</label>
      <input type="text" id="codigo_estudiante" name="codigo_estudiante" class="form-control" required>
    </div>
    <br>
    <br>
    <button type="submit" class="btn-danger">Eliminar Matrículas</button>
  </form>
{% endblock %}
